<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@ViewBag.Title</title>

        <link href="~/css/normalize.css" rel="stylesheet" type="text/css">
        <link href="~/css/fonts.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,500&amp;subset=cyrillic"
              rel="stylesheet">
        <link href="~/css/jquery.fancybox.min.css" rel="stylesheet" type="text/css">
        <link href="~/css/slick.css" rel="stylesheet" type="text/css">
        <link href="~/css/jquery.formstyler.css" rel="stylesheet" type="text/css">
        <link href="~/css/jquery.formstyler.theme.css" rel="stylesheet" type="text/css">
        <link href="~/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header class="header">
            <div class="header_top">
                <div class="container">
                    <div class="header_contacts">
                        <a class="header_phone" href="tel:7666534532"> + 7(953) 633 12 47 </a>
                        <a class="header_email" href="#">wrong_gear@tothe.moon</a>
                        <a class="header_instagram" href="#">wrong_gear_to_the_moon</a>
                        <a data-fancybox data-src="#modal" href="javascript:;" class="header_btn" href="#">
                            Free consultation!
                        </a>
                    </div>
                </div>
            </div>
            <div class="header_content">
                <div class="container">
                    <div class="header_content-inner">
                        <div class="header_logo">
                            <a href="#">
                                <img class="main_logo" src="img/logo.png" alt="">
                            </a>
                        </div>
                        <nav class="menu">
                            <ul>
                                <li><a href="/">Main</a></li>
                                <li><a href="/">About</a></li>
                                <li><a href="/Cars/List">Cars</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div>
            @RenderBody()
        </div>

        <section class="advantages">
            <div class="container">
                <div class="advantages_inner">
                    <div class="advantages_item">
                        <div class="advantages_title">
                            Huge experience
                        </div>
                        <div class="advantages_text">
                            We are trusted by billionaires. We do all the work for them.
                        </div>
                    </div>
                    <div class="advantages_item">
                        <div class="advantages_title">
                            Everyone know about us
                        </div>
                        <div class="advantages_text">
                            Sometimes people come to us just to look at new hypercars around the world.
                        </div>
                    </div>
                    <div class="advantages_item">
                        <div class="advantages_title">
                            Legal purity
                        </div>
                        <div class="advantages_text">
                            You definitely have friends who took a car from us
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer_contacts">
                <div class="container">
                    <div class="footer_inner">
                        <div class="footer_info">
                            <div class="footer_title">
                                WrongGear = ToTheMoon
                            </div>
                            <div class="footer_text">
                                We are the number one in russia who sells hypercars with a turnover of 3 cars per year
                            </div>
                            <ul class="footer_contacts_list">
                                <li><a class="footer_phone" href="#"> + 7(953) 633 12 47 </a></li>
                                <li><a class="footer_email" href="#"> wrong_gear@tothe.moon</a></li>
                                <li><a class="footer_address" href="#"> st. Stromynka, 20, Moscow, 107996 </a></li>
                                <li><a class="footer_instagram" href="#"> wrong_gear_to_the_moon </a></li>
                            </ul>
                        </div>
                        <div class="footer_map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d793.0057365808942!2d37.70082448433748!3d55.793950957504194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5350a801db277%3A0x8dcc8f1a7839b169!2z0KDQotCjINCc0JjQoNCt0JA!5e0!3m2!1sru!2sru!4v1622810862660!5m2!1sru!2sru"
                                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_copy_policy">
                <div class="container">
                    <div class="copy_text">
                        2021 Template by AmNI5TIa. Nothing is protected. This just only for university.
                    </div>
                </div>
            </div>
        </footer>

        <div id="modal">
            <h2>Hello!</h2>
            <p>Something to say</p>
        </div>

        <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
        </script>
        <script src="~/js/jquery.fancybox.min.js"></script>
        <script src="~/js/slick.min.js"></script>
        <script src="~/js/jquery.formstyler.min.js"></script>
        <script src="~/js/main.js"></script>
    </body>
</html>
