<section class="slider">
    <div class="container">
        <div class="slider_inner">
            <div class="slider_item">
                <div class="slider_item-content">
                    <div class="slider_title">
                        Legal purity
                    </div>
                    <div class="slider_text">
                        All used cars presented in our showrooms undergo a comprehensive legal check.
                    </div>
                    <a data-fancybox data-src="#modal" href="javascript:;" class="slider_btn default_btn">
                        Check out!
                    </a>
                </div>
            </div>
            <div class="slider_item">
                <div class="slider_item-content">
                    <div class="slider_title">
                        Thorough diagnostics
                    </div>
                    <div class="slider_text">
                        Our dealerships carry out a thorough diagnostics of all used cars and guarantee their technical serviceability and reliability.
                    </div>
                    <a data-fancybox data-src="#modal" href="javascript:;" class="slider_btn default_btn">
                        Check out!
                    </a>
                </div>
            </div>
            <div class="slider_item">
                <div class="slider_item-content">
                    <div class="slider_title">
                        Car Service
                    </div>
                    <div class="slider_text">
                        We carry out service and maintenance of the vehicle. All work is carried out by highly qualified craftsmen with many years of practical experience.
                    </div>
                    <a data-fancybox data-src="#modal" href="javascript:;" class="slider_btn default_btn">
                        Check out!
                    </a>
                </div>
            </div>
            <div class="slider_item">
                <div class="slider_item-content">
                    <div class="slider_title">
                        Quality assurance
                    </div>
                    <div class="slider_text">
                        We provide a guarantee for cars purchased from our dealership.
                    </div>
                    <a data-fancybox data-src="#modal" href="javascript:;" class="slider_btn default_btn">
                        Check out!
                    </a>
                </div>
            </div>
            <div class="slider_item">
                <div class="slider_item-content">
                    <div class="slider_title">
                        Full package of documents.
                    </div>
                    <div class="slider_text">
                        Used cars are on sale, having all the necessary documents for transferring to a new owner and registering with state bodies.
                    </div>
                    <a data-fancybox data-src="#modal" href="javascript:;" class="slider_btn default_btn">
                        Check out!
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="services_top">
            <div class="services_title-box">
                <div class="services_title">
                    Services
                </div>
                <div class="services_text">
                    Here you can sell, buy and participate in an auction for an expensive car. 
                    Terms and conditions of special offers, as well as characteristics, 
                    configuration and prices for used cars, please check with the sales department 
                    specialists by multi-channel phone or through the feedback form.
                </div>
            </div>
            <div class="services_btn">
                <a href="#">
                    Show all services
                </a>
            </div>
        </div>
        <div class="services_items">
            <div class="item">
                <img src="img/buy_logo.png" class="services_item_img" alt="">
                <div class="services_item_title">
                    Buy
                </div>
                <div class="services_item_text">
                    Choose a car, and we will do the rest yourself.
                </div>
                <div class="services_item_btn">
                    <a class="services_item_link" href="#">Подробнее</a>
                    <a data-fancybox data-src="#modal" href="javascript:;" class="default_btn">
                        Cars
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="img/sell_logo.png" class="services_item_img" alt="">
                <div class="services_item_title">
                    Sell.
                </div>
                <div class="services_item_text">
                    You can also sell your exotic car.
                </div>
                <div class="services_item_btn">
                    <a class="services_item_link" href="#">Подробнее</a>
                    <a data-fancybox data-src="#modal" href="javascript:;" class="default_btn">
                        Contact
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="img/auction_logo.png" class="services_item_img" alt="">
                <div class="services_item_title">
                    Auction
                </div>
                <div class="services_item_text">
                    We conduct the auctions ourselves, having previously prepared the exotic car for sale.
                </div>
                <div class="services_item_btn">
                    <a class="services_item_link" href="#">Подробнее</a>
                    <a data-fancybox data-src="#modal" href="javascript:;" class="default_btn">
                        Auction
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="about_inner">
            <div class="about_title">
                About
            </div>
            <div class="about_text">
                We are the top-1 in russia for the conclusion of contracts for the purchase of exclusive cars from all over the world.
                All you have to do is choose a car.
                The rest of the work is carried out by our specialists, up to a test drive on professional tracks.
            </div>
            <a href="#" class="about_btn default_btn">
                Learn more
            </a>
        </div>
    </div>
</section>

<section class="form">
    <div class="container">
        <div class="form_inner">
            <div class="form_content">
                <div class="form_title_box">
                    <div class="form_title">
                        Contact with us
                    </div>
                    <div class="form_text">
                        Leave a request and in the very near future our specialists will discuss with you the moment you are interested in.
                    </div>
                </div>
                <div class="form_box">
                    <form>
                        <div class="form_box_inner">
                            <div class="form_box_left">
                                <label>
                                    E-mail:
                                    <input type="text">
                                </label>
                                <label>
                                    Phone number * (optional):
                                    <input type="text">
                                </label>
                                <label>
                                    Full name:
                                    <input type="text">
                                </label>
                                <label>
                                    Your question:
                                    <select>
                                        <option>Call me back</option>
                                        <option>Send detailed information to me by mail</option>
                                        <option>I want to sell a very rare car</option>
                                        <option>Another topic question</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form_box_right">
                                <label>
                                    <textarea>

                                        </textarea>
                                </label>
                                <button class="default_btn" type="submit">
                                    Go
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>